<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hot Deals Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/admin.css}">

</head>

<body>
<!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->
<header>
    <div class="header-top">
        <div class="company-name-and-logo">
            <div class="logo">
                <a th:href="@{/products}">
                    <img  class="compny-logo" th:src="@{/images/company/company-logo.png}" alt="Company logo" />
                </a>
            </div>
            <div class="company-name">Hot Deals Market </div>

        </div>

        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button class="sign-out" type="submit">Sign Out</button>
        </form>
    </div>
    <div class="welcome-message">Welcome: Alice</div>
    <div class="header-bottom">
        <div class="header-bottom-text"> <pre></pre></div>
    </div>
</header>
<navbar>
    <a th:href="@{/products}">
        <button class="homepage-btn">Home page </button>
    </a>

</navbar>
<main>
    <div class="main-header">
        <div class="main-header-description">
            The leading American company of essential products
        </div>

    </div>
    <div class="replenish-products">
        <h3>Replenish products</h3>
    </div>
    <div class="product-cart-container">
        <table>
            <thead>
            <tr>
                <th>Product Name and Quantity</th>
<!--                <th>Quantity</th>-->
            </tr>
            </thead>
            <tbody>

            <tr >
                <td>
                    <form th:action="@{/addProduct}" method="POST">
                        <label for="items">Select product:</label>
                        <select id="items" name="productName" required>
                            <option value="" disabled selected>Select a product</option>
                            <option th:each="product : ${products}"
                                    th:value="${product.productNameAndSize}"
                                    th:text="${product.productNameAndSize}" >Product Name
                            </option>
                        </select>
                        <label for="quantity">Quantity</label>
                        <input type="number" id="quantity" name="quantity" placeholder="Enter quantity here"  required>
<!--                        min="1"-->
                        <button type="submit" class="save-button">Add Product</button>
                    </form>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <hr class="new4">
    <div class="estimation-header">
        <h3>Inventory</h3>
    </div>
    <div class="estimation-cart-container">
        <table>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Buying Price</th>
                <th>Selling Price</th>
                <th>Market Price</th>
                <th>Quantity left</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${products}">
                <td th:text="${product.productNameAndSize}">Product Name</td>
                <td th:text="'$'+${product.buyingPrice}+'0'">Buying Price</td>
                <td th:text="'$'+${product.sellingPrice}+'0'">Selling Price</td>
                <td th:text="'$'+${product.marketPrice}+'0'">Market Price</td>
                <td th:text="${product.stockQuantity}"
                    th:classappend="${product.stockQuantity < 20 ? 'low-stock' : (product.stockQuantity > 200 ? 'high-stock' : 'normal-stock')}">
                    Stock Quantity
                </td>

                <td>
                    <img class="product-image" th:src="@{${product.productImagePath}}" alt="Product Image" />
                </td>
            </tr>
            <tr class="total_price">
                <td colspan="4" class="total"><span> Profit estimate: $21,000.00</span></td>
                <!-- <td colspan="3">$60.00</td> -->
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="new4">
    <div class="estimation-header">
        <h3>Customers table</h3>
    </div>
    <div class="estimation-cart-container">
        <table>
            <thead>
            <tr>
                <th>Names</th>
                <th>Emails</th>
                <th>Phone contacts</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customerUser : ${customerUsers}">
                <td th:text="${customerUser.firstName} + ' ' + ${customerUser.lastName}">Customer name</td>
                <td th:text="${customerUser.email}">Customer email</td>
                <td th:text="${customerUser.phone}">Customer email</td>
            </tr>
            <tr class="total_price">
                <td colspan="4" class="total">   <span th:text="'Total customers: '+${totalCustomer}">Total customers> </span></td>
                <!-- <td colspan="3">$60.00</td> -->
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="back-to-top" >
    </div>

    <div class="partner-social-parent-container">
        <div class="logo">
            <a th:href="@{/products}">
                <img  class="compny-logo" th:src="@{/images/company/company-logo.png}" alt="Company logo" />
            </a>
        </div>
        <div class="partner-and-social-container">
            <div class="partner-note">Trusted by Businesses partner & Professionals</div>
            <ul class="unorder-list">
                <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>
                <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>
                <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>
            </ul>
            <br>
            <div class="partnership-reason">Are choosing us for their essential     home  products, saving tons of money on top brands!"</div>

            <div class="social-media">
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/facebook_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/instagram_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/twitter_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/youtube_icon.png}" alt="social media logo">
                </div>

            </div>
        </div>
        <div class="company-headquarter">
            <img class="headquarter-img" th:src="@{/images/company/strore-front-pic.png}" alt="Company headquarter">
        </div>
    </div>
</footer>
<script th:src="@{/js/admin.js}"></script>
</body>

</html>
