<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hot Deals Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/cart-items.css}">
</head>

<body>
<!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->
<header>
    <div class="header-top">
        <div class="company-name-and-logo">
            <div class="logo">
                <a th:href="@{/products}">
                    <img class="compny-logo" th:src="@{/images/company/company-logo.png}" alt="Company logo" />
                </a>
            </div>
            <div class="company-name">Hot Deals Market </div>

        </div>

        <button class="sign-out">Sign Out</button>
    </div>
    <div class="welcome-message">
        <pre>Welcome: <span th:text=" ${customer.firstName}">Customer name</span></pre>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-text"> Company Info  and adds</div>
    </div>
</header>
<navbar>
    <a th:href="@{/user/{id}(id=${customerId})}">
        <button class="homepage-btn">Home page </button>
    </a>
    <button class="contact-btn">Contact Us</button>

</navbar>
<main>
    <div class="main-header">
        <div class="main-header-description">
            The leading American company of essential products
        </div>
        <div class="main-header-delivery">
            Free delivery for order over $35
        </div>

    </div>
    <div class="cart-header">
        <h3>My cart</h3> Fidelity points: 659
    </div>
    <div class="user-cart-container">
        <table>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Add/Subtract</th>
            </tr>
            </thead>
            <tbody>
            <!-- Display cart items when ReceivingStatus is "Received" -->
            <tr th:each="cartItem : ${cartItems}" th:if="${ cartItems.size() != 0 and cartItem.cart.receivingStatus.name() == 'Processed'}">
                <td th:text="${cartItem.product.productNameAndSize}">Product Name</td>
                <td th:text="${cartItem.quantity}">1</td>
                <td th:text="'$ '+${(cartItem.quantity)*(cartItem.product.sellingPrice)}">Price</td>
                <td>
                    <button class="add-button">+</button>
                    <button class="subtract-button">-</button>
                </td>
            </tr>

            <!-- Display message when cartItems exist but ReceivingStatus is NOT "Received" -->
<!--            <tr th:if="${cartItems.size() == 0}">-->
<!--                <td colspan="4">Your items are being processed or shipped, but not yet received.</td>-->
<!--            </tr>-->

            <!-- Display message if cart is empty -->
            <tr th:if="${cartItems.size() == 0}">
                <td colspan="4">Cart is empty.</td>
            </tr>
            <tr class="total_price">
                <td colspan="4" class="total"><span>Total Price: $60.00</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="process-btn">Complete Order</button>
    <hr class="new4">
    <div class="cart-header">
        <h3>History</h3>
    </div>
    <div class="user-cart-container">
        <table>
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <!-- Display cart items when ReceivingStatus is "Received" -->
            <tr th:each="cartItem : ${cartItems}" th:if="${cartItems.size() != 0 and cartItem.cart.receivingStatus.name() != 'Processed'}">
                <td th:text="${cartItem.product.productNameAndSize}">Product Name</td>
                <td th:text="${cartItem.quantity}">1</td>
                <td th:text="'$ '+${(cartItem.quantity)*(cartItem.product.sellingPrice)}+'0'">Price</td>
            </tr>
            <tr class="total_price">
                <td colspan="4" class="total"><span>Total Price: 160.00</span></td>
            </tr>

            <!-- Display message if cart is empty -->
            <tr th:if="${cartItems.size() == 0}">
                <td colspan="4">History is empty.</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <div class="back-to-top" >
        <div class="back-to-top-text"onclick="topFunction()" id="myBtn" title="Go to top">  Back to top^^</div>
    </div>
    <!-- <div class="back-to-top-sign">Back to top sign</div> -->
    <!-- </div> -->
    <div class="partner-social-parent-container">
        <div class="logo">
            <a th:href="@{/products}">
                <img  class="compny-logo" th:src="@{/images/company/company-logo.png}" alt="Company logo" />
            </a>
        </div>
        <div class="partner-and-social-container">
            <div class="partner-note">Trusted by Businesses partner & Professionals</div>
            <ul class="unorder-list">
                <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>
                <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>
                <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>
            </ul>
            <br>
            <div class="partnership-reason">Are choosing us for their essential home  products, saving tons of money on top brands!"</div>

            <div class="social-media">
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/facebook_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/instagram_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/twitter_icon.png}" alt="social media logo">
                </div>
                <div class="s-media-co">
                    <img class="social-media-logo" th:src="@{/images/socialmedia/youtube_icon.png}" alt="social media logo">
                </div>

            </div>
        </div>
        <div class="company-headquarter">
            <img class="headquarter-img" th:src="@{/images/company/strore-front-pic.png}" alt="Company headquarter">
        </div>
    </div>
</footer>
<script th:src="@{/js/cart-items.js}"></script>
</body>

</html>
