<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Hot Deals Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="../css/cart.css">

  </head>

  <body>
      <!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->
       <header>
        <div class="header-top">
            <div class="company-name-and-logo">
                <div class="logo">
                    <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">
                </div>
                <div class="company-name">Hot Deals Market </div>

            </div>

            <button class="sign-out">Sign Out</button>
        </div>
        <div class="welcome-message">Welcome: Alice</div>
        <div class="header-bottom">
            <div class="header-bottom-text"> Company Info  and adds</div>
        </div>
       </header>
       <navbar>
            <button class="homepage-btn">Home page </button>
            <button class="contact-btn">Contact Us</button>

       </navbar>
       <main>
        <div class="main-header">
            <div class="main-header-description">
                The leading American company of essential products
            </div>
            <div class="main-header-delivery">
                Free delivery for order over $35
            </div>

        </div>
        <div class="cart-header">
            <h3>My cart</h3> Fidelity points: 659
        </div>
        <div class="user-cart-container">
            <table>
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Add/Subtract</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Product 1</td>
                    <td>1</td>
                    <td>$10.00</td>
                    <td>
                      <button class="add-button">+</button>
                      <button class="subtract-button">-</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Product 2</td>
                    <td>2</td>
                    <td>$20.00</td>
                    <td>
                      <button class="add-button">+</button>
                      <button class="subtract-button">-</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Product 3</td>
                    <td>3</td>
                    <td>$30.00</td>
                    <td>
                      <button class="add-button">+</button>
                      <button class="subtract-button">-</button>
                    </td>
                  </tr>
                  <tr class="total_price">
                    <td colspan="4" class="total"><span>Total Price: $60.00</span></td>
                    <!-- <td colspan="3">$60.00</td> -->
                  </tr>
                </tbody>
              </table>
        </div>
        <button type="submit" class="process-btn">Process my cart</button>
        <hr class="new4">
        <div class="cart-header">
            <h3>History</h3>
        </div>
        <div class="user-cart-container">
            <table>
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Product 1</td>
                    <td>1</td>
                    <td>$10.00</td>
                  </tr>
                  <tr>
                    <td>Product 2</td>
                    <td>2</td>
                    <td>$20.00</td>
                  </tr>
                  <tr class="total_price">
                    <td colspan="4" class="total"><span>Total Price: $160.00</span></td>
                    <!-- <td colspan="3">$60.00</td> -->
                  </tr>
                </tbody>
              </table>
        </div>
       </main>
       <footer>
            <div class="back-to-top" >
            </div>

        <div class="partner-social-parent-container">
             <div class="logo">
                <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">
             </div>
            <div class="partner-and-social-container">
                <div class="partner-note">Trusted by Businesses partner & Professionals</div>
                <ul class="unorder-list">
                    <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>
                    <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>
                    <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>
                </ul>
                <br>
                <div class="partnership-reason">Are choosing us for their essential     home  products, saving tons of money on top brands!"</div>

                <div class="social-media">
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/facebook_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/instagram_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/twitter_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/youtube_icon.png" alt="social media logo">
                    </div>

                </div>
            </div>
            <div class="company-headquarter">
                <img class="headquarter-img" src="../images/strore-front-pic.png" alt="Company headquarter">
            </div>
        </div>
       </footer>
       <script src="../javascript/cart.js"></script>
  </body>

</html>
