<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--  <head>-->
<!--    <title>Hot Deals Market</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->

<!--    <link rel="stylesheet" href="../css/home.css">-->

<!--  </head>-->

<!--  <body>-->
<!--      &lt;!&ndash; <p th:text="#{home.welcome}">Welcome to our grocery store!</p> &ndash;&gt;-->
<!--       <header>-->
<!--        <div class="header-top">-->
<!--            <div class="company-name-and-logo">-->
<!--                <div class="logo">-->
<!--                    <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">-->
<!--                </div>-->
<!--                <div class="company-name">Hot Deals Market </div>-->

<!--            </div>-->

<!--            <button class="sign-in">Sign In</button>-->
<!--        </div>-->
<!--        <div class="header-bottom">-->
<!--            <div class="header-bottom-text"> Company Info  and adds</div>-->
<!--        </div>-->
<!--       </header>-->
<!--       <navbar>-->
<!--        <div class="dropDown_menu">-->
<!--            <div class="dropdown" style="float:left;">-->
<!--                <button class="dropbtn">Categories</button>-->
<!--                <div class="dropdown-content" style="left:0;">-->
<!--                <a href="#">Laundry Detergent</a>-->
<!--                <a href="#">Toilet Paper</a>-->
<!--                <a href="#">Trash Bags</a>-->
<!--                <a href="#">Disinfectant Wipes</a>-->
<!--                <a href="#">Sanitizer</a>-->
<!--                <a href="#">Paper Towels</a>-->
<!--                <a href="#">Aluminum foil</a>-->
<!--                </div>-->
<!--              </div>-->
<!--        </div>-->
<!--        <div class="contactUs">-->
<!--            <button class="contact-btn">Contact Us</button>-->
<!--        </div>-->
<!--       </navbar>-->
<!--       <main>-->
<!--        <div class="main-header">-->
<!--            <div class="main-header-description">-->
<!--                The leading American company of essential products-->
<!--            </div>-->
<!--            <div class="main-header-delivery">-->
<!--                Free delivery for order over $35-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="cart-container">-->
<!--            <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                            <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                                                      <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                            <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->
<!--             <div class="cart">-->
<!--                <div class="cart-header">Tide detergent </div>-->
<!--                     <div class="cart-contain">-->
<!--                        <div class="cart-image">-->
<!--                            <img class="product-image" src="../images/tide-detergent.png" alt="Product Image">-->
<!--                        </div>-->
<!--                        <div class="cart-info">-->
<!--                            <div class="rating">5 stars</div>-->
<!--                            <div class="unit-price">$11.99 / Unit</div>-->
<!--                            <div class="deal-offer">-->
<!--                                Buy 4 at $41.96-->
<!--                                and save $6-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="cart-actions">-->
<!--                        <div class="buy-now">-->
<!--                            <button id="buy-now">Buy Now</button>-->
<!--                        </div>-->
<!--                        <div class="add-to-cart">-->
<!--                             <button id="add-to-cart">Add to cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--             </div>-->


<!--        </div>-->
<!--        <hr class="new4">-->
<!--        <div class="special-add">-->
<!--            <div class="special-cart">Cart Here</div>-->
<!--            <div class="special-cart">Cart Here</div>-->
<!--            <div class="special-cart">Cart Here</div>-->
<!--            <div class="special-cart">Cart Here</div>-->
<!--        </div>-->
<!--        <hr class="new4">-->
<!--       </main>-->
<!--       <footer>-->
<!--            <div class="back-to-top" >-->
<!--                <div class="back-to-top-text"onclick="topFunction()" id="myBtn" title="Go to top">  Back to top^^</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; <div class="back-to-top-sign">Back to top sign</div> &ndash;&gt;-->
<!--        &lt;!&ndash; </div> &ndash;&gt;-->
<!--        <div class="partner-social-parent-container">-->
<!--             <div class="logo">-->
<!--                <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">-->
<!--             </div>-->
<!--            <div class="partner-and-social-container">-->
<!--                <div class="partner-note">Trusted by Businesses partner & Professionals</div>-->
<!--                <ul class="unorder-list">-->
<!--                    <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>-->
<!--                    <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>-->
<!--                    <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>-->
<!--                </ul>-->
<!--                <br>-->
<!--                <div class="partnership-reason">Are choosing us for their essential     home  products, saving tons of money on top brands!"</div>-->

<!--                <div class="social-media">-->
<!--                    <div class="s-media-co">-->
<!--                        <img class="social-media-logo" src="../socialmedia/facebook_icon.png" alt="social media logo">-->
<!--                    </div>-->
<!--                    <div class="s-media-co">-->
<!--                        <img class="social-media-logo" src="../socialmedia/instagram_icon.png" alt="social media logo">-->
<!--                    </div>-->
<!--                    <div class="s-media-co">-->
<!--                        <img class="social-media-logo" src="../socialmedia/twitter_icon.png" alt="social media logo">-->
<!--                    </div>-->
<!--                    <div class="s-media-co">-->
<!--                        <img class="social-media-logo" src="../socialmedia/youtube_icon.png" alt="social media logo">-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="company-headquarter">-->
<!--                <img class="headquarter-img" src="../images/strore-front-pic.png" alt="Company headquarter">-->
<!--            </div>-->
<!--        </div>-->
<!--       </footer>-->
<!--       <script src="../javascript/home.js"></script>-->
<!--  </body>-->

<!--</html>-->


<!--&lt;!&ndash; <!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Home</title> &ndash;&gt;-->

<!--    &lt;!&ndash; <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
<!--    />-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap"-->
<!--            rel="stylesheet"-->
<!--    />-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Ga+Maamli&display=swap"-->
<!--            rel="stylesheet"-->
<!--    />-->

<!--    <link rel="stylesheet" th:href="@{/css/home.css}" /> &ndash;&gt;-->
<!--&lt;!&ndash; </head>-->
<!--<body>-->

<!--</body>-->
<!--</html> &ndash;&gt;-->
