<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Hot Deals Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/sign-up.css">
      <style>
          .register-link {
              border-radius: 10px;
              justify-content: center; /* Centers the grid items horizontally */
              text-align: center;
              font-family: "Merriweather", serif;
              font-weight: 700;
              font-style: normal;
              font-size: 14px;
              color: #ffffff;
              text-align: right;
              text-decoration: none; /* No underline by default */
              margin-left: 75%;
          }
          .register-link:hover {
              text-decoration: underline; /* Underline on hover */
          }
          .back-to-top{
              /* height: 4rem; */
              text-align: center;
              background-color: #0f1111;
              bottom: 20px;
              right: 30px;
              z-index: 99;
              font-size: 18px;
              border: none;
              outline: none;
              /* background-color: red; */
              color: white;
              padding: 15px;
          }
      </style>

  </head>

  <body>
       <header>
        <div class="header-top">
            <div class="company-name-and-logo">
                <div class="logo">
                    <a th:href="@{/products}">
                        <img  class="compny-logo" th:src="@{../images/company/company-logo.png}" alt="Company logo" />
                    </a>
                </div>
                <div class="company-name">Hot Deals Market </div>

            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom-text"> On your way to start saving on top brands essential prducts</div>
        </div>
       </header>
       <navbar>

        <div class="contactUs">
            <a th:href="@{/products}">
                 <button id="backToHomeBtn"  class="contact-btn">Home page</button>
            </a>
        </div>
       </navbar>
       <main>
        <div class="main-header">
            <div class="main-header-description">
              <span class="heartbeat-text">  Register and  Claim you $50 welcome gift cart</span>

            </div>
            <div class="main-header-delivery">
                 Free delevery toward your 10 first purchases
            </div>
        </div>
           //
<!--           <div class="form-container">-->
<!--               <h2>Sign Up</h2>-->
<!--               <form th:action="@{/signup}" method="post" id="signupForm" th:object="${basicUser}">-->
<!--                   <input type="text" th:field="*{firstName}" placeholder="First Name" required>-->
<!--                   <div th:if="${#fields.hasErrors('firstName')}" class="error">First name is required and should be letters only.</div>-->

<!--                   <input type="text" th:field="*{lastName}" placeholder="Last Name" required>-->
<!--                   <div th:if="${#fields.hasErrors('lastName')}" class="error">Last name is required and should be letters only.</div>-->

<!--                   <input type="email" th:field="*{email}" placeholder="Email" required>-->
<!--                   <div th:if="${#fields.hasErrors('email')}" class="error">Invalid email format.</div>-->

<!--                   <input type="text" th:field="*{phone}" placeholder="Phone Number" required>-->
<!--                   <div th:if="${#fields.hasErrors('phone')}" class="error">Phone number should be 10 digits long.</div>-->

<!--                   <input type="password" th:field="*{password}" placeholder="Password" required>-->
<!--                   <div th:if="${#fields.hasErrors('password')}" class="error">Password must be at least 6 characters long.</div>-->

<!--                   <button type="submit">Sign Up</button>-->
<!--               </form>-->
<!--           </div>-->
           //
        <div class="sign-up">
            <div class="form-container">
               <h2>Sign Up</h2>
               <form th:object="${basicUser}"  th:action="@{/sign-up}"  method="post" id="signupForm"  >
                   <input type="text"  th:field="*{firstName}" id="firstName" placeholder="First Name">
                   <div id="firstNameError" class="error">First name is required and should be letters only.</div>

                   <input type="text" th:field="*{lastName}"  id="lastName" placeholder="Last Name">
                   <div id="lastNameError" class="error">Last name is required and should be letters only.</div>

                   <input type="email" th:field="*{email}" id="email" placeholder="Email">
                   <div id="emailError" class="error">Invalid email format.</div>

                   <input type="text" th:field="*{phone}"  id="phone" placeholder="Phone Number">
                   <div id="phoneError" class="error">Phone number should be 10 digits long.</div>

                   <input type="password"  th:field="*{password}" id="password" placeholder="Password">
                   <div id="passwordError" class="error">Password must be at least 6 characters long.</div>

                   <button type="submit">Sign Up</button>
               </form>
             </div>
        </div>


       </main>
       <footer>
           <div class="back-to-top" >
               <div class="back-to-top-text"onclick="topFunction()" id="myBtn" title="Go to top">  Back to top^^</div>
           </div>
           <!-- <div class="back-to-top-sign">Back to top sign</div> -->
           <!-- </div> -->
           <div class="partner-social-parent-container">
               <div class="logo">
                   <a th:href="@{/products}">
                       <img  class="compny-logo" th:src="@{/images/company/company-logo.png}" alt="Company logo" />
                   </a>
               </div>
               <div class="partner-and-social-container">
                   <div class="partner-note">Trusted by Businesses partner & Professionals</div>
                   <ul class="unorder-list">
                       <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>
                       <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>
                       <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>
                   </ul>
                   <br>
                   <div class="partnership-reason">Are choosing us for their essential     home  products, saving tons of money on top brands!"</div>

                   <div class="social-media">
                       <div class="s-media-co">
                           <img class="social-media-logo" th:src="@{/images/socialmedia/facebook_icon.png}" alt="social media logo">
                       </div>
                       <div class="s-media-co">
                           <img class="social-media-logo" th:src="@{/images/socialmedia/instagram_icon.png}" alt="social media logo">
                       </div>
                       <div class="s-media-co">
                           <img class="social-media-logo" th:src="@{/images/socialmedia/twitter_icon.png}" alt="social media logo">
                       </div>
                       <div class="s-media-co">
                           <img class="social-media-logo" th:src="@{/images/socialmedia/youtube_icon.png}" alt="social media logo">
                       </div>

                   </div>
               </div>
               <div class="company-headquarter">
                   <img class="headquarter-img" th:src="@{/images/company/strore-front-pic.png}" alt="Company headquarter">
               </div>
           </div>
       </footer>
       <script th:src="@{../js/sign-up.js}"></script>
  </body>

</html>
