<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Hot Deals Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/sign-in.css">

  </head>

  <body>
       <header>
        <div class="header-top">
            <div class="company-name-and-logo">
                <div class="logo">
                    <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">
                </div>
                <div class="company-name">Hot Deals Market </div>

            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom-text"> On your way to start saving on top brands essential prducts</div>
        </div>
       </header>
       <navbar>

        <div class="contactUs">
            <button class="contact-btn">Back to Home page</button>
        </div>
       </navbar>
       <main>
        <div class="main-header">
            <div class="main-header-description">
              <span class="heartbeat-text">  Sign in to start saving!</span>

            </div>
            <div class="main-header-delivery">
                 Enjoy free delivery!
            </div>
        </div>
        <div class="sign-in">
            <div class="form-container">
               <h2>Sign In</h2>
               <form id="signinForm">
                   <input type="email" id="email" placeholder="Email">
                   <div id="emailError" class="error">Invalid email format.</div>
                   <input type="password" id="password" placeholder="Password">
                   <div id="passwordError" class="error">Password must be at least 6 characters long.</div>

                   <button type="submit">Sign In</button>
               </form>
             </div>
        </div>


       </main>
       <footer>

        <div class="partner-social-parent-container">
             <div class="logo">
                <img class="compny-logo" src="../images/company-logo.png" alt="Company logo">
             </div>
            <div class="partner-and-social-container">
                <div class="partner-note">Trusted by Businesses partner & Professionals</div>
                <ul class="unorder-list">
                    <li>Hotels & Motels</li> <li>Restaurants & Cafes</li>  <li>Cleaning Services</li>
                    <li>Office Buildings </li>  <li>Religious Institutions </li> <li>Gyms & Fitness Centers</li>
                    <li>Healthcare Facilities</li>        <li>Event Venues</li> <li>Educational Institutions</li>
                </ul>
                <br>
                <div class="partnership-reason">Are choosing us for their essential     home  products, saving tons of money on top brands!"</div>

                <div class="social-media">
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/facebook_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/instagram_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/twitter_icon.png" alt="social media logo">
                    </div>
                    <div class="s-media-co">
                        <img class="social-media-logo" src="../socialmedia/youtube_icon.png" alt="social media logo">
                    </div>

                </div>
            </div>
            <div class="company-headquarter">
                <img class="headquarter-img" src="../images/strore-front-pic.png" alt="Company headquarter">
            </div>
        </div>
       </footer>
       <script src="../javascript/sign-in.js"></script>
  </body>

</html>
